.profile {
    width: 57%;
    height: 100px;
    background-color: purple;
    margin: auto;
}


text-translate {
    font-size: 70px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gold;

    animation-name: x-translation;
    animation-duration: 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes x-translation {
    from {
        transform: translateY(-10deg);
    }

    to {
        
        transform: rotate(999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999deg); 
    }
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023047;
}
  
.text {
    width: 400px;
    height: 200px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.text span {
    text-transform: uppercase;
    padding: 0 0.5rem;
    font-size: 50px;
    animation: zoomup 2s ease infinite;
    display: inline-block;
    animation-delay: calc(200ms * var(--i));
    color: #ffb703;
}
  
@keyframes zoomup {
    0%,
    100% {
      transform: scale(1);
    }
  
    50% {
      transform: scale(1.2) translateY(-50px);
      filter: blur(1px);
      opacity: 0;
    }
}





.sidebar-left {
    width: 20%;
    height: 1350px;
    background-color: wheat;
    float: left;
}


.sidebar-right {
    width: 20%;
    height: 1350px;
    background-color: wheat;
    float: right;
}


.mid-section {
    width: 60%;
    height: 1350px;
    background-color: darkblue;
    float: left;
}
    
.sidebar-left img {
    width: 80%;
    margin: auto;
    display:block ;
    margin-top: 50px;
}

.sidebar-left header {
    text-align: center;
    color: burlywood;
    font-weight: 800;
    margin-top: 30px;
}

.button { 
    margin: auto;
    display: block;
    width: 70%;
    background-color: red;
    text-align: center;
    color: forestgreen;
    margin-top: 30px;
    font-weight: 800;
    font-family: cursive;
    border-radius: 9347384%;
    border: 5px solid purple;

}

.button:hover{
    background-color: orange;
}

.button:hover::after {
    content: "buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now v buy now buy now buy now buy now buy now buy now buy now buy now buy now v buy now buy now v buy now buy now v v buy now v buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now  buy now buy now buy now buy now buy now buy now buy now buy now buy now buy now buy nowslknfahuebfuYWNECYxqwuye  IUWQH hbuiycGWQUIYCG iuw ciUWE CIBWEFHUBIUHQWBCDUIybeiuafhwfiuywgdiUYGBUYAGWEUFYQGE AUFYAEG IAYGE IAEGFAWEF CUAYEGFBCUYTEWFCAYEFAEFIUAFBAIUYFRIAURFBUIYAWGFEIuwyegfwytefbiwtefhiycwegbf8uefbwgerfbcuyawtgbfucqyweg cf8w7tg4crb8qtfgec quygevf cuqytefvqgwefviqevfiqywegfrqw7erf8q736gwrvu   ygewf8736gfyq3vf8eaytfg 8qwgfbq8wtrfvcq63rtbcq763rc 2t63rgv 683rvc  8t3vcr  6t3fc8  7ywgedyqwgevdt8qwevafrdvuwytEDVUQTYWEFDXUQ7I63wyetruq5ytwefguyturhsgdwtaefhavdgvcauhesgdbggadhebsytduhegasbtedhagsbgvhgasbutiAHBSVYUTFAGSTFAsgauvyfAHSGTVYFAGSTFAWSDVGTAGSUTASTGUYhavuthgasvfytghatgshbgvtashgutyfdagsduyfahsghtuyfagshgvtcnjdbhfsnckmzcsdjhbcnkzxkjchbdsfbjcfbnkcjhbfjcnkzxhdbsfuyickjnxzhdsfunkjcdhsfusyyggyrgfrygfyrgfrfguabfuhjbdhfgsnkcbjshbjahdcgudhsjbadgujbgfujaguyhsjaguyfeguyhajbkxsgduysdhbjfgkbbgebdkkdsgeuhjdbsrdsrsrbrgsjbrsbgrfhdsjbgsdjbfghdjbgujsdbduyihjcyhugfhsdcguyfhcbvgcfvgcdxtsdtcfvgfctdxrfcgvyftdrfcvcdrftgytdtgytdtgyftygygygggydgeygdyegdygeydgyegdyeyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyygedyegduyHWBDXKJHSUHCDJFSDCPQOWIEURUTYTUTYTUTYTUTYTUTYTUTYTUTYURHFUHEUUFGEUCBDFBEFBEHFBEUFBEHFHEHFBEUFHEHFBEHFHEHFBEHFHEHFBEIOEHFUEFJSDCJSNJSDNCHSBDFJHCBFSADBJCSBCFJBSFBFHBFJSCHFSBCHJBDSDBCJHKSHBCDSDJCBFKSSDBCJSADFBCKHUYUERHBDFSVHBNKFCSAIBJFECYGDERHBIEDFCSIYBDFECGBIFCDGBJDFECBUIFECHBIJDFCHNKDFCSNJFCDEHNBIFCEHIBJFCDHBKIJNREDNKIDFEHKIJYHUIBRGUBDGBYG4BRFYG4RBFY4GRBFY4GRBFY4GRBFY4RBFYGRBFY4GRBFY4RGFBY4RGFBY4GRFBY4GRFB4YGRBFY4GRBFY4GRBFY4GRBFY4RGFBY4GRFB4YRGFBY4GRFB4YRGFB4YGRFB4YRGBUFHEUFHHUFFFHFUFHFUFHUFHUHGEFJKRHSYDCBEHJFSDHEjusgyhcbjbguyiguyfihbjgfyedgeftsuaufvhghghghxnabjshdgyuhjbxzacyvefygavefyVYGVWYEFGYWEGFfuthgasufgavgSYDHGahvgayusghf "
}        


table {
    border: 5px solid purple;
    margin: auto;
    width: 90%;
    text-align: center;
    background-color: tomato;
    margin-top: 30px;
}

td {
    border: 3px solid plum;
}

.footer {
    background-color: grey;
    color: white;
    text-align: center;
}
